<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Book</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Book</h1>
  <form th:action="@{/nhanviens/edit/{ma_nv}(ma_nv=${nhanvien.ma_nv})}" th:object="${nhanvien}" method="post">
    <input type="hidden" th:field="*{ma_nv}">
    <div class="col-6 mb-3">
      <label class="form-label" for="ten_nv">Tên Nhân Viên</label>
      <input class="form-control" type="text" th:field="*{ten_nv}" id="ten_nv">
      <span class="text-danger" th:if="${#fields.hasErrors('ten_nv')}" th:errors="*{ten_nv}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="phai">Giới tính</label>
      <input class="form-control" type="text" th:field="*{phai}" id="phai">
      <span class="text-danger" th:if="${#fields.hasErrors('phai')}" th:errors="*{phai}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="noi_sinh">Nơi sinh</label>
      <input class="form-control" type="text" th:field="*{noi_sinh}" id="noi_sinh">
      <span class="text-danger" th:if="${#fields.hasErrors('noi_sinh')}" th:errors="*{noi_sinh}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="PHONGBAN">Phòng Ban</label>
      <select class="form-control" id="PHONGBAN"  th:field="*{PHONGBAN.ma_phong}">
        <option value="">--Danh sách Phòng Ban---</option>
        <option th:each="PHONGBAN: ${PHONGBANs}" th:value="${PHONGBAN.ma_phong}" th:text="${PHONGBAN.ten_phong}"></option>
      </select>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="luong">Lương </label>
      <input class="form-control" type="text" th:field="*{luong}" id="luong">
      <span class="text-danger" th:if="${#fields.hasErrors('luong')}" th:errors="*{luong}"></span>
    </div>
    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/nhanviens}">Back to list</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>