<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-ex[and-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HUTECH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/nhanviens">Danh sách Nhân viên</a></li>
          <li class="nav-item"><a class="nav-link" href="/nhanviens/add">Thêm Nhân viên</a></li>
          <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                  <button class="btn btn-outline-danger" type="submit">Đăng Xuất</button>
            </form>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a class="btn btn-outline-primary" href="/login">Đăng Nhập</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div th:insert="~{::${content}}">
  <!-- Noi dung-->
</div>
<footer th:fragment="footer">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>